<html>
<body>
<h1>Our University Logo</h1>
<svg viewBox=" 0 0 1000 1000" version="1.1" width="1000" height="1000">

    <!—- please write your code here -->
    <path id="component"
          d="
        M 230 420
        L 550 420
        L 550 320
        L 440 320
        L 440 220
        A 170 170 0 1 0 100 220
        L 100 598
        A 125 100 0 0 1 200 550
        L 200 220
        A 70 70 0 1 1 340 220
        L 340 320
        L 230 320
        Z
    "stroke="white" fill="#CC0000" stroke-width="2" fill-opacity="#8B0000"/>

    <use xlink:href="#component" transform="rotate(90, 500, 500)" ></use>
    <use xlink:href="#component" transform="rotate(-180, 500, 500)" ></use>
    <use xlink:href="#component" transform="rotate(270, 500, 500)" ></use>
    <use xlink:href="#component" transform="rotate(360, 500, 500)" ></use>

</svg>
</body>
</html>
