<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>在线书城-所有书籍</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/overhang.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/animate.min.css" rel="stylesheet" />
    <link href="assets/css/main.min.css" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
  </head>
  <body>
    <div id="wrapper">
      <div id="page-content-wrapper" class="st-pusher">
        <div class="st-pusher-after"></div>
        <!-- ============================================== HEADER ============================================== -->
        <div th:replace="header :: header"></div>
        <!-- ============================================== HEADER : END ============================================== -->

        <div class="content wow fadeInUp">
          <div class="container">
            <div class="row">
              <ul class="breadcrumb text-center">
                <li><a href="/index">Home</a></li>
                <li>Books</li>
              </ul>

              <div class="divider">
                <img
                  class="img-responsive"
                  src="assets/images/shadow.png"
                  alt=""
                />
              </div>
              <!-- /.divider -->
            </div>

            <!--=====================所有书本信息展示 START====================-->
            <section class="best-seller wow fadeInUp">
              <div id="best-seller" class="module">
                <div class="module-heading home-page-module-heading">
                  <h2 class="module-title home-page-module-title">
                    <span>所有书籍</span>
                  </h2>
                </div>
                <!-- /.module-heading -->

                <div class="module-body">
                  <div class="row books full-width">
                    <div class="clearfix text-center" id="test">



                        <!-- <div class="col-md-3 col-sm-6" style="border: solid 1px black;">
                            <div class="book">
                              <a href="single-book.html">
                                <div class="book-cover">
                                  <img
                                    width="140"
                                    height="212"
                                    alt=""
                                    src="assets/images/blank.gif"
                                    data-echo="assets/images/book-covers/01.jpg"
                                  />
                                  <div class="tag">
                                    <span>sale</span>
                                  </div>
                                </div>
                              </a>
                              <div class="book-details clearfix">
                                <div class="book-description">
                                  <h3 class="book-title">
                                    <a href="single-book.html"
                                     >The Brief Wondrous Life of Oscar Wao</a
                                   >
                                  </h3>
                                  <p class="book-subtitle">
                                    by
                                    <a href="single-book.html"> Cormac McCarthy</a>
                                  </p>
                                </div>
                                <div class="text-center">
                                  <div class="actions">
                                    <span class="book-price price">$14.75</span>
                                    <div class="cart-action">
                                      <a
                                        class="add-to-cart"
                                        title="Add to Cart"
                                        href="javascript:void(0);"
                                       >Add to Cart</a
                                     >
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6"  style="border: solid 1px black; ">
                            <div class="book" id="book" style="border: solid 1px black; ">
                                <a href="single-book.html">
                                    <div class="book-cover" id="book-cover">
                                        <img stylewidth="140" height="212" alt=""
                                             src="assets/images/blank.gif"
                                             data-echo="assets/images/book-covers/01.jpg" />
                                    </div>
                                </a>
                                <div class="book-details clearfix" id="book-details">
                                    <div class="book-description" id="book-description">
                                        <h3 class="book-title"><a href="single-book.html">Wonder
                                            Hardcover</a></h3>
                                        <p class="book-subtitle">by <a href="single-book.html"> R. J.
                                            Palacio</a></p>
                                    </div>
                                    <div class="text-center" id="text-center">
                                        <div class="actions" id="actions">
                                            <span class="book-price price">$9.59</span>
                                            <div class="cart-action" id="cart-action">
                                                <a class="add-to-cart" title="Add to Cart"
                                                   href="single-book.html">Add to Cart</a>
                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--=====================所有书本信息展示 END====================-->
          </div>
          <!-- /.container -->
        </div>
        <!-- /.content -->

        <!-- ============================================== FOOTER ============================================== -->
        <div th:replace="footer :: footer"></div>
        <!-- ============================================== FOOTER : END ============================================== -->
      </div>
      <!-- /.st-pusher -->
    </div>
    <!-- /#wrapper -->




    
    <script src="assets/js/jquery-1.11.2.min.js"></script>
    <script src="assets/js/overhang.min.js"></script>
    <script type="application/javascript">
      
      $(function(){
        $.ajax
          ({   
              type: "GET",            //请求的方式
              url: "book/all_books.json",  //请求url
              // data: {},               //前端向后端传送的数据
              dataType: "json",       //数据格式json
              error: function ()      //请求错误的回调函数
              {
                  
              },
              success: function (data)   //请求成功的回调函数
              { 
                  paint(data.data);
              }
          })

      });

      function paint(data) {
        for (var i = 0; i < data.length; i++) {
          var book = data[i];
          var id = book.id;
          var bookname = book.bookName;
          var author = book.author;
          var publisher = book.publisher;
          var description = book.description;
          var img = book.img;
          var price = book.price;
          var priceoff = book.priceOff;
          //alert(id+" "+bookname+" "+author+" "+publisher+" "+description+" "+img );

          
          var div = document.createElement("div");
          div.setAttribute("class","col-md-3 col-sm-6");
          div.setAttribute("style", "margin-bottom: 100px");

          div.innerHTML = `
            <div class="book" id="book" ">
                <a href="single-book.html">
                    <div class="book-cover" id="book-cover">
                        <img class="bkpicture"  id = "bkimg" stylewidth="140" height="212" alt=""
                            src="assets/images/blank.gif"
                            data-echo="` + img + `" style="text-align:center;/>
                    </div>
                </a>
                <div class="book-details clearfix" id="book-details">
                    <div class="book-description" id="book-description">
                        <h3 class="book-title" >
                            <a class="bktitle" id="bktitleID" onclick= "onClick(this)" >Wonder Hardcover</a>    <!--book title-->
                        </h3>
                        <p class="book-subtitle"  >by <span class="bkwriter" id="bkwriterID" onclick="onClick()"> R. J. Palacio</span>   <!--book writer-->
                        </p>
                    </div>
                    <div class="text-center" id="text-center">
                        <div class="actions" id="actions">
                            <span class="book-price price" id="bkpriceID">$9.59</span>   <!--book price-->
                            <div class="cart-action" id="cart-action">
                                <a class="add-to-cart" title="Add to Cart"
                                  href="single-book.html">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>`;
          document.getElementById("test").appendChild(div);
          var classStyle = document.getElementsByClassName("col-md-3 col-sm-6");
          var bkt = document.getElementById("bktitleID");
          var bkw = document.getElementById("bkwriterID");
          var bkp = document.getElementById("bkpriceID");
          var bkimg = document.getElementById("bkimg");
          //classStyle.style.
          bkt.innerText = bookname;
          bkw.innerText = author;
          bkp.innerText = price;
          document.getElementById("bktitleID").id = id;
          document.getElementById("bkwriterID").id = i;
          document.getElementById("bkpriceID").id = i;
          document.getElementById("bkimg").id = i;
        }


      }



      function add1() {
        var book = document.createElement("div");
        var bookcover = document.createElement("div");
        var bookdetails = document.createElement("div");
        var bookdes = document.createElement("div");
        var textcenter = document.createElement("div");
        var action = document.createElement("div");
        var cartaction = document.createElement("div");
        book.innerHTML = '<a href="single-book.html">';
        bookcover.innerHTML =
          '<img width="140" height="212" alt="" src="assets/images/blank.gif" data-echo="assets/images/book-covers/03.jpg"/>';
        bookdetails.innerHTML = "";
        bookdes.innerHTML =
          '<h3 class="book-title"><a href="single-book.html">Wonder Hardcover</a></h3> <p class="book-subtitle">by <a href="single-book.html"> R. J. Palacio</a></p>';
        textcenter.innerHTML = "";
        action.innerHTML = '<span class="book-price price">$9.59</span>';
        cartaction.innerHTML =
          '<a class="add-to-cart" title="Add to Cart" href="single-book.html">Add to Cart</a>';
        document
          .getElementById(book)
          .insertBefore(
            bookcover,
            document.getElementById(book).firstElementChild
          );
        document
          .getElementById(book)
          .insertBefore(
            bookdetails,
            document.getElementById(book).firstElementChild
          );
        document
          .getElementById(bookdetails)
          .insertBefore(
            bookdes,
            document.getElementById(bookdetails).firstElementChild
          );
        document
          .getElementById(bookdetails)
          .insertBefore(
            textcenter,
            document.getElementById(bookdetails).firstElementChild
          );
        document
          .getElementById(textcenter)
          .insertBefore(
            action,
            document.getElementById(textcenter).firstElementChild
          );
        document
          .getElementById(action)
          .insertBefore(
            cartaction,
            document.getElementById(action).firstElementChild
          );
      }

      function add() {
        var div = document.createElement("div");
        div.innerHTML = `<div class="col-md-3 col-sm-6  style="border: solid 1px black;padding-top: 10px;">
<div class="book" id="book" style="border: solid 1px black; ">
    <a href="single-book.html">
        <div class="book-cover" id="book-cover">
            <img stylewidth="140" height="212" alt=""
                 src="C:/Users/uzh/Desktop/bookshop-master/src/main/resources/templates/assets/images/blank.gif"
                 data-echo="C:/Users/uzh/Desktop/bookshop-master/src/main/resources/templates/assets/images/book-covers/01.jpg" style="text-align:center;/>
        </div>
    </a>
    <div class="book-details clearfix" id="book-details">
        <div class="book-description" id="book-description">
            <h3 class="book-title"><a href="single-book.html">Wonder
                Hardcover</a></h3>
            <p class="book-subtitle">by <a href="single-book.html"> R. J.
                Palacio</a></p>
        </div>
        <div class="text-center" id="text-center">
            <div class="actions" id="actions">
                <span class="book-price price">$9.59</span>
                <div class="cart-action" id="cart-action">
                    <a class="add-to-cart" title="Add to Cart"
                       href="single-book.html">Add to Cart</a>

                </div>
            </div>
        </div>
    </div>
</div>
</div>`;
        //div.style.textAlign = "center";
        //var test = document.getElementsByClassName("clearfix text-center");
        //document.test.insertBefore(div, document.test.firstElementChild);
        //document.test.insertBefore(div);
        document.getElementById("test").appendChild(div);
      }
      //添加到购物车
      function addcart(self) {
        var bookid = $(self).attr("name");
        $.post("/post/addcart.do", { bookid: bookid }, function (data) {
          if (data.code == 200) {
            success();
          } else {
            error();
          }
        });
      }
      function onClick(t){
        //var num = $(self).val();
        //var bktitle = document.getElementsByClassName("bktitle");
        //var bkt = document.getElementById()
        //alert(bktitle[0].innerHTML);
        var bkwriter = document.getElementsByClassName("bkwriter");
        //alert(bkwriter[0].innerHTML);
        var bkprice = document.getElementsByClassName("book-price");
        var bk
        //console.log(window.location.href=encodeURI(location.origin+"/single-book.html?bktitle=" + bktitle[0].innerHTML +"&bkwriter=" + bkwriter[0].innerHTML+ "&bkprice=" + bkprice[0].innerHTML));
        //window.location.href=encodeURI("single-book.html?bktitle=" + bktitle[0].innerHTML +"=bkwriter=" + bkwriter[0].innerHTML+ "=bkprice=" + bkprice[0].innerHTML+"=");
        window.location.href=encodeURI("single-book.html?bkid=" + t.id+ '=' + t.bookName);

        //alert(window.location.href=encodeURI("single-book.html?bktitle=" + bktitle[0].innerHTML +"=bkwriter=" + bkwriter[0].innerHTML+ "=bkprice=" + bkprice[0].innerHTML+"="));
    }

      function error() {
        $("body").overhang({
          message: "添加购物车失败",
          duration: 5,
          speed: 1000,
          //                closeConfirm: true
        });
      }
      function success() {
        $("body").overhang({
          message: "添加购物车成功",
          duration: 5,
          speed: 1000,
          //                closeConfirm: true
        });
      }
    </script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/perfect-scrollbar.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.customSelect.min.js"></script>
    <script src="assets/js/jquery.easing-1.3.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/echo.min.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="assets/js/sweetalert2.min.js"></script>
  </body>
</html>
