    <!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>STORE-SHOPPING CART</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="assets/css/overhang.min.css" rel="stylesheet"/>
    <link href="assets/css/animate.min.css" rel="stylesheet"/>
    <link href="assets/css/main.min.css" rel="stylesheet"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico"/>

    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,400italic,500,500italic,700,700italic'
          rel='stylesheet' type='text/css'/>
    <style>
        .price {
            color: #de421e;
        }

        #booknum {
            width: 30px;
        }

    </style>
</head>
<body>


<div id="wrapper">
    <div id="page-content-wrapper" class="st-pusher">
        <div class="st-pusher-after"></div>
        <!-- ============================================== HEADER ============================================== -->
        <div th:replace="header :: header"></div>
        <!-- ============================================== HEADER : END ============================================== -->

        <div class="content wow fadeInUp">
            <div class="container">
                <div class="row">
                    <ul class="breadcrumb text-center">
                        <li><a href="home.html">Click Me to Home</a></li>
                        <li>SHOPPING CART</li>
                    </ul>

                    <div class="divider">
                        <img class="img-responsive" src="assets/images/shadow.png" alt=""/>
                    </div><!-- /.divider -->
                </div>

                <!--=====================购物车信息展示 START====================-->
                <div class="row">
                    <table id="items" class="table table-hover">
                        <tr style="background-color: #00b5d1;color: #ffffff">
                            <th id = "bkname">NAME</th>
                            <th id = "bkprice">PRICE</th>
                            <th id = "bknumber">NUMBER</th>
                            <th id = "bksum">SUM</th>
                            <th>OPERATION</th>
                        </tr>
                    </table>

                    <h4 class="pull-right">TOTAL PRICE<span id="allprice" class="price"
                                                      th:text="${(session.itemprices!=null?session.itemprices:0)}"></span>
                    </h4>

                </div>
                <div class="row">
                    <button id="buy" onclick="buy()" class="pull-right btn btn-lg btn-warning">CLICK TO SUBMIT</button>
                </div>
                <!--=====================所有书本信息展示 END====================-->
            </div><!-- /.container -->
        </div><!-- /.content -->

        <!-- ============================================== FOOTER ============================================== -->
        <div th:replace="footer :: footer"></div>
        <!-- ============================================== FOOTER : END ============================================== -->
    </div><!-- /.st-pusher -->

</div><!-- /#wrapper -->
<script src="assets/js/jquery-1.11.2.min.js"></script>
<script src="assets/js/overhang.min.js"></script>
<script type="application/javascript">

    var bkid;
    $(function(){

        $.get("cart/items.json", function (data) {
            
            if(data.code == 404)
            {
                alert("NO LOGIN BEFORE！");
                window.location.href="login.html";
            }
            else
            {
                if (data.data) {
            
                    var test = data.data;
                    var sum=0;
                    
                    for(var i=0; i<test.length; i++)
                    {  
                    var x = document.createElement("TR");                
                    bkid = test[i].bookId;
                    var total = test[i].sum * test[i].price;
                    sum+=total;
                    x.innerHTML =`      <tr >
                                            <td><b ">`+test[i].bookName+`</b></td>
                                            <td id="danjia" class="price" >`+test[i].price+`</td>
                                            <td>
                                                <p class="bookid" style="display: none;"></p>
                                                <button id="munis" onclick="minus(this)" class="btn b">-</button>
                                                <input disabled="true" onchange="change(this)" id="booknum" type="text" value="`+test[i].sum+`" />  
                                                <button id="plus" onclick="plus(this)" class=" btn b">+</button>
                                                <p class="bookid" style="display: none;"></p>
                                            </td>
                                            <td id="xiaoji" class="price" ">`+total+`</td>
                                            <td>
                                                <p style="display: none;" ></p>
                                                <button onclick="del(this)" class="btn btn-sm btn-danger">删除</button>
                                            </td>
                                        </tr>
                    `
                    x.style.fontSize=("20px");
                    x.style.color=("skyblue");
                    x.setAttribute("id",bkid)
                    document.getElementById("items").appendChild(x);

                    }
                    document.getElementById("allprice").innerHTML = sum;
                }
            }

        }, "json");
    });


    function plus(self) {
        //获得书本数量
        var input = $(self).prev("input");
        var bookid = $(self).next(".bookid").html();
        var bkid = self.parentNode.parentNode.id;
        console.log(bookid);
        var booknum = parseInt(input.val()) + 1;
        var danjia = parseFloat($(self).parent().prev("#danjia").html());
        var xiaoji = danjia * booknum;
        var allprice = parseFloat($("#allprice").html());
        $.post("cart/add_item.do", {bookId:bkid});
        //修改数量和小计
        $(self).parent().next("#xiaoji").html(xiaoji);
        input.val(booknum);
        allprice += danjia;
        $("#allprice").html(allprice);
    }

    //减少
    function minus(self) {
        //获得书本数量
        var input = $(self).next("input");
        var bkid = self.parentNode.parentNode.id;
        var bookid = parseInt($(self).prev(".bookid").html());
        var booknum = parseInt(input.val()) - 1;
        var danjia = parseFloat($(self).parent().prev("#danjia").html());
        var xiaoji = danjia * booknum;
        var allprice = parseFloat($("#allprice").html());
        //修改数量和小计
        if (booknum != 0) {
            $.post("cart/reduce_item.do", {bookId:bkid});
            $(self).parent().next("#xiaoji").html(xiaoji);
            input.val(booknum);
            allprice -= danjia;
            $("#allprice").html(allprice);
        }
    }

    //购物车删除条目
    // function del(self) {
    //     var bookid = $(self).prev().html();
    //     var tr = $(self).parent().parent();
    //     $.post("/post/delcart.do",{bookid:bookid},function(data){
    //         tr.hide(200);
    //     });

    // }
	// function getRowObj(obj) {
	// 	var i = 0;
	// 	while (obj.tagName.toLowerCase() != "tr") {
	// 		obj = obj.parentNode;
	// 		if (obj.tagName.toLowerCase() == "table")
	// 			return null;
	// 	}
	// 	return obj;
	// }


    function del(self){
        
        var name = $("#bkname").val();
        var price = $("#bkprice").val();
        var id = bkid;
        alert(id);
        $.post("cart/delete_item.do", {bookId: id}, function (data) {
//                显示返回状态信息
            if(data.code == 404)
            {
                alert("NO LOGIN BEFORE!");
                window.location.href="login.html";
            }    
            else{
                var id = self.parentNode.parentNode.id;
                var obj = self.parentNode.parentNode;
                obj.parentNode.removeChild(obj);
                alert("SUCCESS！");
            }
            
        }, "json");
    }

    //下单购买
    function buy() {
        $.post("/post/buy.do",function(data){
            if(data.code == 200){
                success();
            }
        });
    }
    function success() {
        $('body').overhang({
            message: "SUBMIT SUCCESSFULLY",
            duration: 5,
            speed: 1000,
//                closeConfirm: true
        });
    }
</script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/perfect-scrollbar.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/jquery.customSelect.min.js"></script>
<script src="assets/js/jquery.easing-1.3.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/echo.min.js"></script>
<script src="assets/js/scripts.js"></script>
<script src="assets/js/sweetalert2.min.js"></script>
</body>
</html>
